@font-face{
    font-family: "HookedUp101";
    src: url("hooked_up_101.ttf");
}

@font-face{
    font-family: "ErasDemi";
    src: url("eras-demi-itc.ttf");
}

@font-face{
    font-family: "Saira2";
    src: url("Saira-Regular.ttf");
}

@font-face{
    font-family: "Saira2";
    src: url("Saira-Bold.ttf");
    font-weight: bold;
}

body{
    background-color: grey;
}

header{
    background-color: #A9B0B7;
    border: 2px solid #127CA6;
    font-family: "HookedUp101";
    text-align: center;
    font-size: 60px;
    color: #DD6500;
    border-radius: 10px;
}

h1{
    background-color: #A9B0B7;
    border: 2px solid #127CA6;
    font-family: "ErasDemi";
    font-size: 30px;
    color: #DD6500;
    border-radius: 10px;
    padding: 5px;
}

h2 {
    background-color: #A9B0B7;
    border: 2px solid #127CA6;
    font-family: "ErasDemi";
    font-size: 25px;
    color: #DD6500;
    border-radius: 10px;
    padding: 3px;
}

nav li  {
    list-style-type: none;
    margin: 20px 0px 20px -30px;
    background-image: linear-gradient(to right, #2E3192, #1BFFFF);
    border: 1px solid #333333;
    border-radius: 10px;
    padding: 15px 5px 15px 5px;
    font-family: "Saira2";
    font-weight: bold;
    font-size: 20px;
}

nav li a {
    text-decoration: none;
    margin: 0px 20px 0px 0px;
    line-height: 40px;
    height: 40px;
}

#play1, #play2 {
    color: #CCCCCC;
    margin-right: 120px;
}

#cplay {
    color: #222222;
    background-image: none;
    border: 1px solid #222222;
    border-radius: 10px;
    padding: 0px 5px;
}

#back_button {
    color: #CCCCCC;
    margin-right: 150px;
    padding: 0px 5px;
}

nav dt {
    list-style-type: none;
    font-family: "Saira2";
    border-top: 1px solid #333333;
    font-size: 20px;
    font-weight: normal;
}

nav dd {
    list-style-type: none;
    font-family: "Saira2";
    font-size: 15px;
    font-weight: normal;
}

#addSS {
    text-decoration: none;
    color: #222222;
    display: block;
    padding: 10px 0px;
}

#addS {
    background-color: #777777;
}

.addSS {
    text-decoration: none;
    color: #222222;
    display: block;
    padding: 10px 0px;
}

.addS {
    background-color: #777777;
}

dl i {
    margin: 0px 5px;
}

dl {
    background-color: #AAAAAA;
}

#preset_list li {
    background-image: linear-gradient(to right, #2591B1, #EEFFFF);
}

a {
    color: #551A8B;
}

#icon0, #icon1 {
    margin-left: 130px;
}

#addBB {
    text-decoration: none;
    color: #222222;
    display:block;
}

#addB {
    background-image: none;
    background-color: #777777;
}

#block_list i {
    margin: 0px 5px;
}

.shuffle {
    list-style-type: none;
    margin: 20px 0px 20px -30px;
    background-image: linear-gradient(to right, #DD6500, #FFBB33);
    border: 1px solid #333333;
    border-radius: 10px;
    padding: 15px 5px 15px 5px;
    font-family: "Saira2";
    font-weight: bold;
    font-size: 20px;
}

.inOrder {
    list-style-type: none;
    margin: 20px 0px 20px -30px;
    background-image: linear-gradient(to right, #2EB62C, #ABE098);
    border: 1px solid #333333;
    border-radius: 10px;
    padding: 15px 5px 15px 5px;
    font-family: "Saira2";
    font-weight: bold;
    font-size: 20px;
}

.startWith {
    list-style-type: none;
    margin: 20px 0px 20px -30px;
    background-image: linear-gradient(to right, #DC1C13, #F1959B);
    border: 1px solid #333333;
    border-radius: 10px;
    padding: 15px 5px 15px 5px;
    font-family: "Saira2";
    font-weight: bold;
    font-size: 20px;
}

.shuffleRest {
    list-style-type: none;
    margin: 20px 0px 20px -30px;
    background-image: linear-gradient(to right, #BB4300, #DD9911);
    border: 1px solid #333333;
    border-radius: 10px;
    padding: 15px 5px 15px 5px;
    font-family: "Saira2";
    font-weight: bold;
    font-size: 20px;
}

.inOrderRest {
    list-style-type: none;
    margin: 20px 0px 20px -30px;
    background-image: linear-gradient(to right, #0C940A, #89C076);
    border: 1px solid #333333;
    border-radius: 10px;
    padding: 15px 5px 15px 5px;
    font-family: "Saira2";
    font-weight: bold;
    font-size: 20px;
}